<mat-nav-list [ngClass]="readerMode">
  <div class="profile-card">
    <div class="header">
      <h2>Susan Douglas</h2>
      <h4>sdouglas@mail.com</h4>
    </div>
    <img src="https://images.unsplash.com/photo-1552658165-7a51046b41f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" srcset="">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/grades">Grades</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/todos">
    <mat-icon>list</mat-icon>
    Todos
  </a>
</mat-nav-list>
