<mat-toolbar [ngClass]="readerMode">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

      <span>Student Dashboard</span>
      <div class="header-right-container">
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>help_outline</mat-icon>
        </button>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign Out
            </button>
            <button mat-menu-item (click)="toggleReaderMode()">
              <mat-icon>chrome_reader_mode</mat-icon>
                Toggle Reader Mode
            </button>
          </mat-menu>
        </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>