ul li {
    list-style: none;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.header-right-container {
    display: flex;
}

.light-mode {
    background-color: #316E9A;
    color: white;
}

.dark-mode {
    background-color: black;
    color: white;
}

.mat-menu-content {
    border: 1px solid red;
}