ul li {
    list-style: none;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.header-right-container {
    display: flex;
}

.light-mode {
    background-color: darkslategrey;
    color: white;
}

.dark-mode {
    background-color: black;
    color: white;

    .mat-menu-panel {
        border: 1px solid red;
    }
}