ul li {
    list-style: none;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.nav-right-container {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.header {
    border: 1px solid red;
    height: 500px;
}

.feature-cards {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, min-max(300px, 1fr));
}