<div class="header">
  <div class="cta">
    <h3>Keep Track of Your School Work!</h3> 
    <p>With Student Dashboard you can see all of your grades' statistics, view recent news, keep track of your network and more! If you want to take control of your studies and succeed in your career Sign Up today!</p>
  </div>
  <button mat-raised-button color="primary">Sign Up</button>
</div>

<div class="features">
  <div class="feature-description">
    <h3>Some of the best features</h3>
    <p>Student Dashboard understands that being a student can be difficult. You have to study and work hard already to maintain the highest scores. Keeping track of every class and of all of your progress should be easy. Not only can you keep track of your progress but you can also build your network as you do so. Also keep track of some of the latest findings and news about your career and how the can impact you.</p>
  </div>
  <div class="feature-cards">
    <mat-card>
      <mat-card-title>Easy To Use Design</mat-card-title>
      <mat-card-content>With Student Dashboard it is very easy to see everything in one place. Our design not only looks good on your desktop but also on mobile. This makes it super easy for you to be productive even on the go. Receive notifications and updates right to your phone!</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Keep Track of The Latest News</mat-card-title>
      <mat-card-content>With student dashboard you will be updated with some of the latest news that regard to your career path. You can view and get notified when important events happen in your industry. This will help you stay on top of your game and foresee what changes will be affecting your career.</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Build Your Network</mat-card-title>
      <mat-card-content>Have you had a hard time keeping track of your network? With Student Dashboard you will get connected with other users who are in the same track as you. You can connect with them on LinkedIn right from the app. Get notified when important events have happened in their lives and get reminders to stay in touch!</mat-card-content>
    </mat-card>
  </div>
</div>

<footer>
  <mat-toolbar>
  &copy; 2020 Student Dashboard
  </mat-toolbar> 
</footer>