.stats-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;

    .light-mode {
        background-color: white;
        color: black;
    }

    .dark-mode {
        background-color: rgb(82, 82, 82);
        color: white;
    }
}