ul li {
    list-style: none;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;

    .icon-button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        padding: 5px;

        &:hover {
            background-color: whitesmoke;
        }

        img {
            width: 35px;
            margin-right: 10px;
        }
    }

    .nav-right-container {
        display: flex;
        justify-content: space-between;
        width: 200px;

        button {
            margin: 10px;
        }
    }
}

