<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <div class="error" *ngFor="let error of errors">{{error}}</div>
    <form class="auth-form" (submit)="handleLogin($event)">
      <mat-form-field class="">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" value="email" [(ngModel)]="email">
      </mat-form-field>
    
      <mat-form-field class="">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" name="password" value="password" [(ngModel)]="password">
      </mat-form-field>

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card>
</div>
