<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form class="auth-form">
      <mat-form-field class="">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" value="">
      </mat-form-field>
    
      <mat-form-field class="">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" value="">
      </mat-form-field>

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card>
</div>

<footer>
  <mat-toolbar>
  &copy; Xatchel 2020 
  </mat-toolbar> 
</footer>